server:
  port: 8081
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/batch_demo_db
    username: root
    password: P@ssw0rd2314
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
  batch:
    job:
      enabled: false

    jdbc:
      initialize-schema: always
  rabbitmq:
    host: localhost
    queue: batch_job

app:
  csv:
    fileHeaders: first_name,last_name,gpa,age