server:
  port: ${SERVER_PORT}
spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
  batch:
    job:
      enabled: false

    jdbc:
      initialize-schema: always

  rabbitmq:
    host: ${RABBIT_HOST}
    job_start: ${RABBIT_JOB_START}
    job_completed: ${RABBIT_JOB_COMPLETED}

app:
  csv:
    fileHeaders: first_name,last_name,gpa,age